version: "3.6"
services:
  flextesa:
    container_name: flextesa
    restart: always
    image: registry.gitlab.com/tezos/flextesa:image-tutobox-run
    command: carthagebox start
    environment:
      - block_time=4
    ports:
      - 127.0.0.1:8732:20000
      - 172.17.0.1:8732:20000
    logging: &my-logging
      options:
        max-size: 10m
        max-file: "5"

  jupyter:
    container_name: jupyter
    restart: always
    image: bakingbad/michelson-kernel
    command: "--NotebookApp.allow_origin=* \
      --NotebookApp.port=8008 \
      --NotebookApp.default_url=/tree/notebooks \
      --NotebookApp.disable_check_xsrf=True \
      --NotebookApp.token="
    ports:
      - 127.0.0.1:8008:8008
    volumes:
      - ./notebooks:/home/jupyter/notebooks
    extra_hosts:
      sandbox: 172.17.0.1
    logging: *my-logging

  gui:
    volumes:
      - ./bbbox/config.json:/usr/share/nginx/html/config.json
      - ./bbbox/default.conf:/etc/nginx/conf.d/default.conf
    command: -c "nginx -g 'daemon off;'"
