version: "3.6"
services:
  flextesa:
    container_name: flextesa
    restart: always
    image: registry.gitlab.com/tezos/flextesa:image-tutobox-run
    command: carthagebox start
    environment:
      - block_time=5
    logging: &my-logging
      options:
        max-size: 10m
        max-file: "5"

  elastic:
    ports:
      - 127.0.0.1:9400:9200
      - 127.0.0.1:9500:9300

  api:
    volumes:
      - ./custom/config.yml:/app/api/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  indexer:
    volumes:
      - ./custom/config.yml:/app/indexer/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  metrics:
    volumes:
      - ./custom/config.yml:/app/metrics/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  gui:
    volumes:
      - ./custom/config.json:/usr/share/nginx/html/config.json
      - ./custom/default.conf:/etc/nginx/conf.d/default.conf
    command: -c "nginx -g 'daemon off;'"