version: "3.6"
services:
  elastic:
    ports:
      - 127.0.0.1:9400:9200
      - 127.0.0.1:9500:9300

  api:
    volumes:
      - ./custom/config.yml:/app/api/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  indexer:
    volumes:
      - ./custom/config.yml:/app/indexer/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  metrics:
    volumes:
      - ./custom/config.yml:/app/metrics/config.yml
    env_file:
      - .env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  gui:
    volumes:
      - ./custom/config.json:/usr/share/nginx/html/config.json
      - ./custom/default.conf:/etc/nginx/conf.d/default.conf
    command: -c "nginx -g 'daemon off;'"

  aws:
    bucket_name: ${BCD_AWS_BUCKET_NAME}
    region: ${BCD_AWS_REGION}