version: "3.6"
services:
  api:
    volumes:
      - ./custom/config.yml:/app/api/config.yml
    env_file:
      - ./custom/.env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  indexer:
    volumes:
      - ./custom/config.yml:/app/indexer/config.yml
    env_file:
      - ./custom/.env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  metrics:
    volumes:
      - ./custom/config.yml:/app/metrics/config.yml
    env_file:
      - ./custom/.env
    environment: 
      - GIN_MODE=release
    command: -f config.yml

  gui:
    volumes:
      - ./custom/config.json:/usr/share/nginx/html/config.json
    command: -c "nginx -g 'daemon off;'"
